*{
    font-family: Arial, Helvetica, sans-serif;
}


:root{
  --orange: #e8a32c;
  --bgc: #ffffff;
  --black: #717171;
  --blue: #263253;
}

body, html{
    margin: 0px;
    padding: 0px;
    background-color: var(--bgc);
    overflow: scroll;
    width: 100%;
    height: 100%;
}
  
  .box{
    width: 60%;
    height: 80%;
    min-width: 900px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    /* border: solid 1px; */
    border-radius: 50px;
    /* box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5); */
    /* background-color: #3b648d; */
    position: relative;
    left: 50%;
    right: 50%;
    top: 50px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .add{
    width: 70%;
    height: 60px;
    font-size: 16px;
    margin-bottom: 30px;
    /* border: solid 1px; */
    color: var(--bgc);
    position: relative;
    /* left: 50%; */
    /* right: 50%; */
    /* top: 80px; */
    background-color: var(--black);
    border-radius: 5px;
    /* transform: translateX(-50%); */
    /* box-shadow: 0px 3px 3px 3px rgba(211, 217, 232,0.7); */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  /* .sub{
    width: 100%;
    border: solid #333;
    position: absolute;
    top: 0px;
    height: 30px;
    background-color: #99A6CB;
  } */

  .title{
    font-size: 30px;
    font-weight: 800;
    color: #b99362;
    margin-bottom: 30px;
  }
  
  .in{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .input_dep{
    font-size: 12px;

  }
  .input_num{
    width: 60px;
    padding-left: 5px;
  }
  
  .blank_10{
    width: 10px;
  }
  .blank_20{
    width: 20px;
  }

  .list{
    position: relative;
    width: 70%;
    height: 80%;
    /* border: solid #444; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    /* box-shadow: 0px 3px 3px 3px rgba(211, 217, 232,0.7); */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    border-radius: 5px;
    padding-top: 10px;
    overflow: scroll;
  }
  
  .member_list{
    position: relative;
    /* border: solid #3b648d; */
    background-color: var(--bgc);
    /* box-shadow: 0px 3px 3px 3px rgba(211, 217, 232,0.7); */
    /* border-radius: 5px; */
    padding-bottom: 5px;
    border-bottom: solid #dddddd 1px;
    width: 90%;
    height: 30px;
    line-height: 30px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  .member_list:hover{
    transform: translateY(3px);
  }


  .item{
      width: 90px;
      /* border: solid red; */
  }

  .em{
      text-align: center;
  }

  .btn_send{
    width: 60px;
    height: 24px;
    color: white;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.2);

    background-color: var(--orange);
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
  }

  .toolbar{
    width: 80px;
    height: 50px;
    /* border: solid var(--blue); */
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    font-size: 14px;
    top: -25px;
    right: 50px;
    text-align: center;
    box-shadow: 0px 3px 3px 3px rgba(211, 217, 232,0.7);
    cursor: pointer;
    transition-duration: 0.5s;
}

.toolbar:hover{
    top: -15px;
    /* border-radius: 0px; */
}
.material-icons{
    position: relative;
    margin-top: 25px;
    color: var(--black);
    transition-duration: 0.5s;
}

.mem_txt{
    position: relative;
    margin-top: -30px;
    color: var(--black);
    opacity: 0;
    transition-duration: 0.8s;
}
.toolbar:hover .material-icons{
    opacity: 0;
    
}
.toolbar:hover .mem_txt{
    opacity: 1;
    
}

.deleteBtn{
  margin-top: 0px;
}

.image{
    width: 90px;
    position: absolute;
    transform: rotate(15deg);
    top: -40px;
    right: 0px;
  }
  
.tail{
    position: absolute;
    /* border: solid red; */
    width: 25px;
    top: -30px;
    right: -15px;
    transform: rotate(60deg);
    transform: scaleY(1);
    animation-name: tail;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
  }
  
  @keyframes tail {
    0% {
      top: -30px;
    }
    50% {
      top: -25px;
      transform: rotate(65deg);
    }
    100% {
      top: -30px;
    }
  }