<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>下午茶系統</title>
  <link rel="stylesheet" href="./main.css">
  <link href="../api/icon.css" rel="stylesheet">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="toolbar" id="addMember">
    <i class="material-icons">group_add</i>
    <div class="mem_txt">成員</div>
  </div>
  <div class="toolbar control" id="control">
    <i class="material-icons setting">settings</i>
    <div class="mem_txt">設定</div>
  </div>
  <div class="box">
    <div class="subbox left">
      <div class="subtitle titleleft">口袋菜單</div>
      <div class="meal_box" style="width: 100%; height: 100%">
        <!-- <div class="meal_list" v-for="m in rows">${m.store}</div> -->
        <form class="form" method="get" action="../update/update.php" v-for="m in rows">
          <input class="meal_list" type="submit" name="submit" v-bind:value="m.store" />
          <input type="hidden" name="id" v-bind:value="m.id">
          <input type="hidden" name="store" v-bind:value="m.store">
          <input type="hidden" name="type" v-bind:value="m.type">
          <input type="hidden" name="memo" v-bind:value="m.memo">
          <!-- <input type="hidden" name="flag" v-bind:value="true">  -->
        </form>
      </div>
    </div>
    <div class="subbox right">
      <div class="subtitle titleright">今日下午茶 ${today}</div>
      <!-- <div class="meal_list today_meal" v-for="t in today_meal" v-on:click="showdetail(t)">${t.store}</div> -->
      <form class="form" method="post" action="../detail/detail.php" v-for="t in today_meal">

        <input class="today_meal" type="submit" name="submit" v-bind:value="t.store">
        <i class="material-icons fire">local_fire_department</i>
        </input>
        <input type="hidden" name="id" v-bind:value="t.id">
        <input type="hidden" name="store" v-bind:value="t.store">
        <input type="hidden" name="date" v-bind:value="t.date">
        <input type="hidden" name="type" v-bind:value="t.type">
        <input type="hidden" name="memo" v-bind:value="t.memo">
      </form>
      <div class="createBtn">+</div>
      <img class="image" src="./cat02.png"></img>
    </div>
    
    
  </div>
  
  <!-- partial -->
  <script src='../api/jquery.min.js'></script>
  <script src='../api/vue.min.js'></script>
  <script src="./main.js"></script>
</body>

</html>